.about-container {
    height: 100%;
    overflow: scroll;
    padding-right: 25vw;
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    left: 0;

    p {
        margin: 0;
    }

    display: none;
    &.visible {
        display: block;
    }
}