.about-container {
    margin-right: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;

    p {
        margin: 0;
    }

    display: none;
    &.visible {
        display: block;
    }
}