@font-face {
    src: url('/static/fonts/BasisGrotesquePro-Light.otf') format("opentype");
    font-family: 'BasisGrotesque';
    font-weight: light;
}

@font-face {
    src: url('/static/fonts/AkzidenzGroteskBE-Regular.otf') format("opentype");
    font-family: 'AkzidenzGrotesk';
    font-weight: normal;
}

@font-face {
    src: url('/static/fonts/AkzidenzGroteskBE-Light.otf') format("opentype");
    font-family: 'AkzidenzGrotesk-Light';
    font-weight: lighter;
}