@nav-margin: 10px; 
@nav-icon-size: 16px;

.nav-container {
    position: fixed;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.5s linear;
    &.visible {
        opacity: 1;
    }    
    img {
        width: @nav-icon-size;
        height: @nav-icon-size;
    }
    &.nav-bottom-left {
        left: @nav-margin;
        bottom: @nav-margin;    
    }
    &.nav-bottom-right {
        right: @nav-margin;
        bottom: @nav-margin;    
    }
    &.nav-top-left {
        left: @nav-margin;
        top: @nav-margin;    
    }
    &.nav-top-right {
        right: @nav-margin;
        top: @nav-margin;    
    }
    &.nav-bottom-center {
        bottom: @nav-margin;
        left: 50%;
        transform: translateX(-50%);
    }
}