@nav-margin-ew: 35px;
@nav-margin-ns: 25px;
@nav-margin: 45px;
@nav-icon-size: 25px;
@nav-icon-size-mobile: 28px;

@nav-margin-ew-mobile: 10px;
@nav-margin-ns-mobile: 15px;
@nav-margin-mobile: 25px;
@nav-next-margin-bottom-mobile: 30px;

.nav-container {
    position: fixed;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.5s linear;
    max-width: ~"calc(100vw - 40px)";

    &.visible {
        opacity: 1;
    }
    img {
        width: @nav-icon-size;
        height: @nav-icon-size;
        @media screen and (max-width: 667px) {
          width: @nav-icon-size-mobile;
          height: @nav-icon-size-mobile;
        }
    }
    .icon-description {
      position: absolute;
      font-size: 8pt;
      opacity: 0;
      text-align: center;
      transition: opacity 0.25s ease-in-out;
    }
    &.nav-previous {
        // left: 40px;
        left: 50%;
        bottom: 25px;
        transform: translateX(-200%);
        .previous-project-description {          
          top: -21px;
          left: -7px;
        }
        &:hover {
          .previous-project-description {
            opacity: 1;
          }
        }
        @media screen and (max-width: 667px) {
            bottom: 5px;
            left: @nav-margin-ew-mobile;
            transform: translateX(0);
        }
    }
    &.nav-next {
        // left: 95px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 21px;

        .next-project-description {          
          top: -24px;
          left: 1.5px;
        }
        &:hover {
          .next-project-description {
            opacity: 1;
          }
        }
        @media screen and (max-width: 667px) {
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          .next-project-notice {
            display: none;
          }
        }
    }
    &.nav-fin-g {
        left: 50%;
        right: auto;
        bottom: 23.5px;
        transform: translateX(110%);
        .random-project-description {          
          top: -22px;
          left: -1px;
        }
        &:hover {
          .random-project-description {
            opacity: 1;
          }
        }
        @media screen and (max-width: 667px) {
            bottom: 3px;
            right: @nav-margin-ew-mobile;
            left: auto;
            transform: translateX(0);
        }
        // img {
        //     width: 32px;
        //     height: 32px;
        // }
    }

    &.nav-top-left {
        left: @nav-margin-ew;
        top: @nav-margin-ns;
        @media screen and (max-width: 667px) {
            left: @nav-margin-ew-mobile;
            top: @nav-margin-ns-mobile;
        }
        max-width: 65vw;
    }
    &.nav-top-right {
      right: @nav-margin-ew;
      top: @nav-margin-ns;
      @media screen and (max-width: 667px) {
          right: @nav-margin-ew-mobile;
          top: @nav-margin-ns-mobile;
      }
    }
    &.nav-bottom-right {
        right: @nav-margin-ew;
        bottom: @nav-margin-ns;
        @media screen and (max-width: 667px) {
            right: @nav-margin-ew-mobile;
            top: @nav-margin-ns-mobile;
            bottom: auto;
        }
        transform: translateY(-3px);
    }

    &.close-image img {
        width: 20px;
        height: 20px;
    }
}

.cross-fade-leave {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.cross-fade-enter {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 0;
  transition: opacity 0.5s linear;
}

// .cross-fade-height {
//   transition: height 0.5s linear;
// }