.project-view-container {
    width: 100vw;
    height: 100vh;

    .mouse-tracker {
        border: 1px dashed rgba(0, 0, 0, 0.4);
        transform: translateX(-50%) translateY(-50%);
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;

        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }
}

.project-block-container {
    &.text {
        overflow-y: scroll;
        height: 300px;
    }
    
    .project-image {
        width: 100%;
    }
}