.project-view-container {
    width: 100vw;
    height: 100vh;

    .mouse-tracker {
        border: 1px dashed rgba(0, 0, 0, 0.5);
        transform: translateX(-50%) translateY(-50%);
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
    }
}