h1 {

}

h2 {

}

h3 {
    font-family: 'AkzidenzGrotesk', Helvetica, sans-serif;
    margin: 0;
    font-size: 12pt;
    line-height: 1.02;
    font-weight: normal;
    letter-spacing: 0.25px;
}

h4 {
    font-family: 'AkzidenzGrotesk', Helvetica, sans-serif;
    margin: 0;
    font-size: 9pt;
    @media screen and (max-width: 667px) {
        font-size: 7.5pt;
    }
    line-height: 1.02;
    font-weight: normal;
    // color: #AAAAAA;
    color: black;
    letter-spacing: -0.2px;
}


p {
    font-family: 'AkzidenzGrotesk-Light', Helvetica, sans-serif;
    font-size: 20pt;
    line-height: 1.15;
    @media screen and (max-width: 667px) {
        font-size: 13pt;     
    }
}