body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'AkzidenzGrotesk-Light', Helvetica, sans-serif;
    font-size: 11.5pt;
    font-weight: normal;
    line-height: 1.2;
    @media screen and (max-width: 667px) {
        font-size: 11.5pt;
    }
}

.sanity-small-text {
    p, h1, h2, h3, h4, h5, h6 {
        font-family: 'AkzidenzGrotesk-Light', Helvetica, sans-serif;
        font-size: 18pt;
        font-weight: normal;
        line-height: 1.3;
        @media screen and (max-width: 667px) {
            font-size: 11.5pt;
        }
    }
}

h6 {
    font-family: 'AkzidenzGrotesk-Light', Helvetica, sans-serif;
    font-size: 18pt;
    line-height: 1.3;
    font-weight: normal;
    margin: 0;
    @media screen and (max-width: 667px) {
        font-size: 11.5pt;
    }
}